
h3 {
  font-size: 20px;
  color: black;
}

input[type="range"] {
  width:90%;
}
textarea {
  resize: none;
}

textarea.alert {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

div.copy-box {
  position: relative;
}
div.copy-box img {
  position: absolute;
    right: 0;
    bottom: 0;
    margin: 4px;
    cursor: pointer;
}

img.hideButton {
  display: none;
}

#lengthDisplay {
  font-size: 24px;
  font-weight: bold;
  color: #0169D9;
  padding: 0 25px;
}

#passwordDisplay {
  text-align: center;
}

div.character-selector {
  text-align: left;
}